*
{
    margin: 0px;
    padding: 0px;
}
.header
{
    width: 100%;
    height:400px;
    background-image:url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span.header-1
{
   font-size: 50px;
    
}
#header-2
{
    text-align: center;
    display: block;
    padding-top: 90px;
    font-size: 90px;
    color: white;
    font-weight: 600;
    
}
#txt-color
{
    animation: txt 20s linear infinite;
}
@keyframes txt
{
    25%
    {
        color: white;
        margin-bottom: 0px;
       
    }
    50%
    {
      color: hotpink;
        letter-spacing: 5px;
        margin-bottom: 0px;
        
    }
    75%
    {
        color: darkviolet;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }
    100%
    {
      color: yellow;
        letter-spacing: 5px;
        margin-bottom: 0px;
    }
}
ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999999;
}
ul.topnav li a
{
    display:block;
    color: white;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight:600;
    
}
ul.topnav li a:hover:not(.active)
{
    background-color: #111;
}
ul.topnav .active
{
    background-color: #4CAF50;
}

input[type=text]
{    
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 130px;
    border: none;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/search-icon.png);
    
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 8px 20px 8px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: 0.4s;
}
input[type=text]:focus
{
    width: 470px;
}
.topnav img
{
    width: 130px;
    height: 40px;
    float: left;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 5px;
}
.img
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/ab.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
    width: 100%;
    height: 200px;
}
.img h2
{
    color: white;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding-top: 70px;
   
    
}
h2 span
{
    border-bottom: 2px solid orange;
}
.img p 
{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 20px;
    display: block;
}
.img p a
{
    color: white;
    text-decoration: none;
}
#lightbg
{
    border: none;
    border-radius:10px; 
    width: 500px;
    height: 120px;
    margin-left: 430px;
    margin-top: -150px;
    background-color:rgba(199, 200, 201,0.2)
    
}
.content
{
    padding: 100px 100px 0px 100px;
    text-align: justify;
}
#heading1
{
    background-color: lightgray;
    font-size: 25px;
    padding-left: 10px;
    font-style:oblique;
}
#main
{
    text-align: justify;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 450px;
    font-size: 20px;
    font-weight: normal;
   
    
}

#shop-photo-right img
{    
    width: 400px;
    height: 300px;
    margin-left: 727px;
    margin-top:-650px;
    margin-right: 0px;
    position:inherit;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    
}
.footer-container{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

.footer-content{
    width: 90%;
    height: 50vh;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}
.footer-content h2{
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid orangered;

}
.footer-a, .footer-b, .footer-c{
    flex: 3;
    margin-right: 20px;
}
.footer-a p{
    color: #fff;
    margin-top: 20px;
    line-height: 1.5;
}
.footer-b ul{
    list-style: none;
    margin-top: 20px;
}
.footer-b ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 1.5;

}
.footer-b ul li a:hover{
    border-left: 2px solid orangered;
    padding-left: 10px;
    transition: 0.5s;
}
.footer-c .textbox{
    margin-top: 20px;
    min-width: 250px;
    max-width:250px;
    outline: none;
    background-image: none;
}
.footer-c .submit{
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(253, 80, 17,0.9);
    color: #fff;
}

.footer-c .submit:hover{
    background-color: rgb(253, 80, 17);
    transition: 0.5s ease-out;
    cursor: pointer;
}

.footer-c .social-links h2{
 margin-top: 20px;
}
.footer-c .social-links i{
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-right:20px;
}

.footer-c .social-links i:hover{
    color: orangered;
    transition: 0.5s ease-out;
}

.footer1
{
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


