*
{
    margin: 0px;
    padding: 0px;
}
.header
{   
    position: relative;
    width: 100%;
    height:400px;
    background-image:url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 20s infinite;
    
}
@keyframes slider
{
    0%{
        background-image:url('../images/b1.jpg');
        
    }
    25%
    {
        background-image: url('../images/b2.jpg');
        
    }
    50%
    {
        background-image: url('../images/b3.jpg');
       
    }
    75%
    {
        background-image: url('../images/b4.jpg');
        
    }
}
span.header-1
{
   font-size: 50px;
    
}
#header-2
{
    text-align: center;
    display: block;
    padding-top: 90px;
    font-size: 90px;
    color: white;
    font-weight: 600;
    
}
#txt-color
{
    animation: txt 20s linear infinite;
}
@keyframes txt
{
    25%
    {
        color: white;
        margin-bottom: 0px;
       
    }
    50%
    {
      color: hotpink;
        letter-spacing: 5px;
        margin-bottom: 0px;
        
    }
    75%
    {
        color: red;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }
    100%
    {
      color: yellow;
        letter-spacing: 5px;
        margin-bottom: 0px;
    }
}
ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999999;
}
ul.topnav li a
{
    display:block;
    color: white;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight:600;
    
}
ul.topnav li a:hover:not(.active)
{
    background-color: #111;
}
ul.topnav .active
{
    background-color: #4CAF50;
}
#about
{
    display: flex;
    justify-content: flex-end;
}
#about
{
    background-color: rgba(255, 0, 0, 0.7);
}
#about:hover
{
    background-color:rgba(255, 0, 0, 1);
}
input[type=text]
{    
    display: block;
    width: 130px;
    border: none;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search-icon.png');
    background-size: 15px;
    outline: none;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 8px 20px 8px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: 0.4s;
}
input[type=text]:focus
{
    width: 470px;
}
.topnav img
{
    width: 130px;
    height: 40px;
}
.container
{   
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container .wrapper{
    width: 350px;
    height: 70vh;
    background-color: white;
    position: relative;
    box-shadow:10px 10px 10px rgba(0,0,0,0.3);
}
.container .wrapper img{
    position: absolute;
    width: 350px;
}
.container .wrapper .txt{
    margin-top: 10px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    left: auto;
    right: auto;
}
.container .wrapper .txt h2{
    font-size: 20px;
}
.container .wrapper .txt p{
    padding: 10px;
}

.content-shop
{   
    margin-top: 100px;
    background-color: #042966;
    height: 500px;
    
}
.content-hd 
{
    text-align: center;
    color: white;
    padding-top: 100px;
    
}
.content-hd span
{
    color: orangered;
}
.content-hd h2
{
    font-size: 35px;
    font-weight: normal;
}
.content-hd p
{
    padding-top: 25px;
    font-style: oblique;
    font-size: 16px;
}
.content-hd .icons{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 50px;
}
.content-hd .icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    border: 2px solid white;
}

.content-hd .icon:hover{
    background-color: orangered;
    transition: 0.5s;
}
.footer
{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.9);
    margin-top: 0px;
}
.footer1
{
    width: 100%;
    height: 50px;
    background-color: black;
}
.footer h2
{
    color: white;
    padding: 50px 100px 0px;
    color: orangered;
    font-weight: normal;
}
.footer h2 span
{
    border-bottom-color: deepskyblue;
    border-bottom-width: 3px;
    color: white;
}
.footer p
{
    color: white;
    font-size: 17px;
    font-weight: normal;
    padding: 40px 100px;
}
#footer-b
{
    text-align: center;
    
}
#footer-b h2
{
    margin-top: -280px;
    margin-left: 120px;
}
#useful-link 
{
    padding-left:60px;
    text-align: justify;
    
    width: 300px;
    margin-left: 600px;

    

}
#useful-link p 
{
    
    padding-bottom: 2px;
    font-weight: normal;
    padding-top: 20px;
   
    margin-right: 50px;
    margin-left: -80px;
 
}
#useful-link p a
{
    color: white;
    text-decoration: none;
}
#useful-link p a:hover{
    color: aqua;
    transition-duration: 1s;
}
.form
{
    float: right;
    margin-top: -150px;
    margin-right: 130px;
}
label
{
    color: white;
    font-size: 30px;
}
.txt-1
{
    height: 31px;
    
}
input[type=submit]
{
    height: 35px;
    padding: 5px;
    width: 100px;
    margin-left: 10px;
    border: none;
    margin-top: -5px;
    background-color: deepskyblue;
    border-bottom-right-radius: 10px;
    color: white;
}
input[type=submit]:hover
{
    background-color: orange;
    
    cursor: pointer;
}

.footer1
{
    color: white;
    text-align: center;
   padding-top: 35px;
}
.footer1 span
{
    color: orangered;
}
#social-link h2
{
      float: right;
    margin-top:-70px;
    margin-right: 150px;
    font-size: 25px;
    
}
.icon-link
{
    
    margin-left: 950px;
    margin-top: 25px;
}
.icon-link span a
{
    margin-left: 20px;
    color: white;
}
.icon-link span a:hover{
    color: blue;
}



@media screen and (max-width:1200px){
    .container .wrapper{
        width: 300px;
        margin: 10px;
    }
    .container .wrapper img{
        width: 276px;
    }
    .container.wrapper.txt{
        margin-top: 50px;
    }
    ul.topnav{
        display: none;
    }
}